/* You can add global styles to this file, and also import other style files */
.xng-breadcrumb-root{
  padding: 8px 16px;
  font-weight: bold;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: rgb(133, 48, 119);
}

.xng-breadcrumb-separator{
  padding: 0 0;
  color:rgb(57, 56, 64);
}
.StripeElement{
  height: 3.125em;
}

$enable-gradients : true;

