<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-signin">
       <div class="text-center mb-4">
        <img class="mb-4" src="../../../assets/images/logo.png" alt="" width="100" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Airline Tickets</h1>
      </div>

      <app-text-input formControlName="displayName" [label]="'Name'"></app-text-input>
      <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

      <ul class="text-danger" *ngIf="errors">
        <li *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>

      <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
