  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 bg-gradient-primary border-bottom box-shadow"
  style="background-color:rgb(206, 206, 206);">
    <div class="d-flex flex-row mt-2">
      <img src="/assets/images/logo.png" style="max-height: 40px;" alt="logo"
      [routerLink]="['/']" >
      <h5 class="ml-4 mt-2">Airline Tickets</h5>
    </div>
    <nav class="d-flex justify-content-between align-items-center my-2 my-md-0 mr-md-3" style="font-size: larger;">
      <a class="p-1 mr-3" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-1 mr-3" [routerLink]="['/flights']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Flights</a>
      <a class="p-1 mr-3" [routerLink]="['/companies']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Companies</a>
      <a class="p-1 mr-3" [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contacts</a>
    </nav>
    <div class="d-flex align-items-center">
      <a routerLink="/booking" class="position-relative">
        <i class="fa fa-ticket fa-2x mr-5 text-dark"></i>
        <div *ngIf="(booking$ | async) as booking" class="ticket-no">{{booking.tickets.length}}</div>
      </a>
      <ng-container *ngIf="(currentUser$ | async) === null">
        <a routerLink="/account/login" class="btn btn-outline-primary mr-2">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-primary mr-3">Sign up</a>
      </ng-container>
      <ng-container *ngIf="currentUser$ | async">
        <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/booking" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-clock-o mr-3"></i> Check Booking
          </a>
          <a routerLink="/completed-booking" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-plane mr-3"></i> Check Booked Flights
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3"></i>Logout
          </a>
        </div>
      </div>
      </ng-container>

    </div>

  </div>

